<div class="row">
  <div class="col-md-2">
    <div class="">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Select Book</button>
        <div ngbDropdownMenu>
          <button *ngFor="let book of books" class="dropdown-item" (click)="onSelect(book)">{{book.description}}</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="inProgress" class="col my-progress-bar">Loading...</div>
  <div *ngIf="currentTicker && !inProgress" class="col">
    {{currentTicker.last}} {{selectedBook.description}}
  </div>
</div>