/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.even{
    background-color:rgba($color: #000000, $alpha: 0.1);
}
.odd{
    background-color:white;
}
// animation-iteration-count:infinite;
.my-progress-bar{
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0ms;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-name: pop;
}
@keyframes pop { from { font-size: .5rem; } to { font-size:1rem; }  }